.side{

    padding:0px 0px 0px 0px ;
    /* background-color: blue; */
    }

#side{
    margin-top:18px;
    padding-left:40px;
    color: white;
}

h4{
    font-weight: bold;
}

p{
    font-weight:bold;
    font-size:11px;
    margin-top:-6px;
}