<div id="area1">
<div class="row">
  <div class="col-md-4" >
    <img src="assets/images/logo.png" id="logo">
  </div>
  <div class="col-md-8">
      <h2 id="heading">DC.</h2>
      <p id="design-cube">Design Cube</p>
    </div>
    </div>
    <div class="row">
      <p id="instruction">Please enter your username and password to login</p>
    </div>
    <div class="row">
  
    <div class="col-md-10">
        <form [formGroup]="NewRegistrationForm" (ngSubmit)="onSubmit(this.NewRegistrationForm.value)" class="registration-form">
        <div class="form-group"  >
            <label class="center-block">
              </label>
                <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <input type = "email" class="form-control" formControlName="email" required>
                  </div>
          </div>
          <div *ngIf="NewRegistrationForm.controls.email.invalid && ( NewRegistrationForm.controls.email.touched)">
              <div *ngIf="NewRegistrationForm.controls.email.errors.required">
               <p id="instruction"> Email is required.</p>
              </div>
              <div *ngIf="NewRegistrationForm.controls.email.errors">
                <p id="instruction">Incorrect Format.</p>
              </div>
          </div>
    
          <div class="form-group" >
              <label class="center-block">
              </label>
              <div class="input-group">
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                  </div>
                  <input type = "password" class="form-control" formControlName="password" required >
                </div>
              </div>
            
          <div *ngIf="NewRegistrationForm.controls.password.invalid && ( NewRegistrationForm.controls.password.touched )">
         <div *ngIf="NewRegistrationForm.controls.password.errors.required">
          <p id="instruction"> Password is required.</p>
         </div>
         <div *ngIf="NewRegistrationForm.controls.password.errors">
           <p id="instruction">Password must be at least 4 characters long.</p>
         </div>
        </div>
    
        <div style="margin-bottom: 1em">
            <button type="submit"
                    [disabled]="NewRegistrationForm.pristine && NewRegistrationForm.invalid" class="registration-button">Login</button> 
        </div>
      </form>
    </div>
    </div>
  </div>