
.registration-button{
    color:white;
    background-color: rgb(28, 154, 228);
    width:240px;
    height:40px;
    border-radius: 5px;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    font-size: 8px;
}

.form-control{
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: darkgray;
    width:200px;
    height:30px;
    font-size: 8px;
 
}
.input-group-addon{
    background-color: white;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: darkgray;

}

.registration-form{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    /* margin-top:50px; */

}#instruction{
    color: rgb(211, 209, 209);
    font-size:10px;
    padding-left:20px;
}
#design-cube{
    margin-top:-10px;
}
#area1{
    padding-left:12px;
}
#heading{
    font-weight:bold;
}
#logo{
    padding-left:1px;
    width:80px;
    height:80px;
    margin-top:10px;
}