<!-- <div class="container" id="app-area">
  
</div> -->

<div class="container">
    <div class="row main">
      <div class="col-md-2">

      </div>
        <div class="col-md-8" id="main-area">
            <div class="row" >
                <div class="col-md-6" id="area-1">
                    <app-area-1></app-area-1>   
                  </div>
                  <div class="col-md-6" id="area-2">
                    <app-area-2></app-area-2>
                  </div>
            </div>
            <div class="col-md-2">
                
                      </div>


          </div>
    </div>
</div>
        